.task-table {
  width: 98%;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid #CCC;
  overflow: hidden;
  box-shadow: 5px 5px 10px #CCC;

  .table-pagination {
    background: white;

    .pagy-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0.5rem;

      .disabled {
        color: #CCC;
      }

      .active {
        color: #00A300;
      }

      span {
        padding: 0 0.5rem;
      }

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: #00A300;
        }
      }
    }
  }

  .table-header {
    display: grid;
    grid-auto-columns: min-content;
    background: white;
    padding: 1rem 0;
    box-shadow: 0 5px 5px #CCC;
    font-weight: bold;
    position: sticky;

    .table-column {

      a {
        color: black;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .sort-icon {
          padding-left: 5px;
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 0.5rem;

          span {
            color: #CCC;
          }

          &.asc {
            span {
              &:nth-child(1) {
                color: black;
              }
            }
          }

          &.desc {
            span {
              &:nth-child(2) {
                color: black;
              }

              &:nth-child(1) {
                color: #CCC;
              }
            }
          }
        }
      }
    }
  }

  .table-content {
    max-height: 80vh;
    overflow: scroll;
    scroll-snap-type: block;

    .table-row {
      scroll-snap-align: start;
      display: grid;
      grid-auto-columns: min-content;
      padding: 1rem 0;
      background: #F3F3F3;
      align-items: center;
      cursor: pointer;

      .table-column {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }

    .table-row-expand {
      max-height: 1000px;
      overflow: hidden;
      transition: max-height, 0.3s ease;
      border-bottom: 1px solid #CCC;
      border-radius: 0 0 10px 10px;

      &.hidden {
        max-height: 0;
        border: none;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .table-header, .table-row {
    grid-template-columns: 2fr 3fr 4fr;
  }

  .show-xs {
    display: block;
  }

  .show-sm, .show-md, .show-xl {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .table-header, .table-row {
    grid-template-columns: 2fr 3fr 2fr 5fr 2fr;
  }

  .show-xs, .show-sm {
    display: block;
  }

  .show-md, .show-xl {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .table-header, .table-row {
    grid-template-columns: 2fr 3fr 2fr 5fr 2fr;
  }

  .show-xs, .show-sm {
    display: block;
  }

  .show-md, .show-xl {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .table-header, .table-row {
    grid-template-columns: 2fr 3fr 4fr 3fr 8fr 6fr 2fr 1fr;
  }

  .show-xs, .show-sm, .show-md {
    display: block;
  }

  .show-xl {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .table-header, .table-row {
    grid-template-columns: 3fr 3fr 2fr 6fr 4fr 5fr 14fr 4fr 8fr 4fr 2fr;
  }

  .show-xs, .show-sm, .show-md, .show-xl {
    display: block;
  }
}
