.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  z-index: 100;

  .nav-link {
    margin: 0.5rem;
    padding: 0.8rem;
    font-size: 1.8rem;
    color: black;
    text-decoration: none;
    border-radius: 10px;

    &:hover {
      color: green;
      background: #EFEFEF;
    }

    &.active {
      color: green;
    }
  }
}
