.houses {
  margin: 0 auto;

  .house {
    width: 100%;
    margin-bottom: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #CCC;
    padding: 0.5rem 1rem;
    cursor: pointer;

    .flats {
      max-height: 500px;
      overflow: scroll;
      transition: max-height, 0.3s ease;
      cursor: default;
      scroll-snap-type: block;

      .flat {
        scroll-snap-align: start;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #CCC;
        padding: 0 1rem;

        .new-link {
          color: #A3A3A3;
        }

        .edit-link {
          color: black;
        }

        .new-link, .edit-link {
          text-decoration: none;

          &:hover {
            color: #00A300;
          }
        }


        .delete-link {
          color: white;
          background: red;
          border-radius: 50%;
          text-decoration: none;
          font-weight: bold;
          padding: 0.3rem 0.5rem;
        }
      }

      .new-flat-link {
        text-decoration: none;
        margin: 1rem 0;
        display: block;
        width: 100%;
        text-align: center;

        .new-flat {
          color: white;
          font-weight: bold;
          background: #00A300;
          border-radius: 50%;
          padding: 0px 10px 4px 10px;
          font-size: 2rem;
        }
      }

      &.hidden {
        max-height: 0;
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .houses {
    width: 90vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .houses {
    width: 90vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .houses {
    width: 90vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .houses {
    width: 80vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .houses {
    width: 80vw;
  }
}
