@import "tasks/tasks";
@import "devise/devise";
@import "pages/pages";
@import "tooltip/tooltip";
@import "partners/partners";
@import "forms/forms";
@import "houses/houses";
@import "navbar/navbar";
@import "notice-alert/notice-alert";

body {
  font-family: sans-serif;
  margin: 0;
  background: #FAFAFA;
}

header {
  width: 100%;
  text-align: center;

  a {
    color: #A3A3A3;
    text-decoration: none;

    &:hover {
      color: #AAFFAA;
    }
  }

  form {
    background: white;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #CCC;

    .form-title {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .input {
      margin: 1rem;
      font-size: 1.5rem;

      input {
        margin-left: 1rem;
        font-size: 1.5rem;
        width: 20rem;
        border-color: #CCC;
        border-style: dashed;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
      }

    }
    select {
      font-size: 1.5rem;
      width: 20rem;
      border-color: #CCC;
      border-style: dashed;
      border-top: none;
      border-left: none;
      border-right: none;
      outline: none;
    }
  }
}

section {
  text-align: center;
  margin: 3rem 0;
  border-top: 1px solid #CCC;
}

.text-center {
  text-align: center;
}
