.profile-picture {
  border-radius: 50%;
  overflow: hidden;
}

.user-profile {
  margin-top: 2rem;

  .user-info {
    margin-left: 2rem;

    .info-item {
      text-align: left;
      font-size: 1.5rem;
      border-bottom: 1px solid #CCC;
    }
  }
}
